:root {
  -main-bg-color: #fff;
  -main-word-color: #1b1b1b;
}

.wrapper01 {
  width: 92.1875rem;
  margin: 0 auto;
}

// header下拉框hover样式重置
:where(.ant-dropdown-menu-item-active) {
  .ant-dropdown-menu-title-content:hover {
    color: #1677ff;
  }

  .anticon svg {
    color: #1677ff;
  }
}
